@{
    ViewData["Title"] = "Developer Contact Information";
}
<h2>@ViewData["Title"]</h2>

<h4>Developer Emails</h4>
<div class="dl-horizontal">
    <dt>
        Brad Stell
    </dt>
    <dd>
        jstell@uncc.edu
    </dd>
    <dt>
        Hardik Thakkar
    </dt>
    <dd>
        hthakkar@uncc.edu
    </dd>
    <dt>
        Niel Alex
    </dt>
    <dd>
        tkattamp@uncc.edu
    </dd>
    <dt>
        Gabriel Stevens
    </dt>
    <dd>
        gsteven4@uncc.edu
    </dd>
</div>



@*<div class="container">
    <h1>Emails</h1>
    <p>Brad Stell: jstell@uncc.edu</p>
    <p>hardik thakkar : hthakkar@uncc.edu</p>
    <p>Gabriel Stevens: gsteven4@uncc.edu</p>
    <p>Niel Alex: tkattamp@uncc.edu</p>
</div>*@