@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div class="container">
    <h1>Emails</h1>
    <p>Brad Stell: jstell@uncc.edu</p>
    <p>hardik thakkar : hthakkar@uncc.edu</p>
    <p>Gabriel Stevens: gsteven4@uncc.edu</p>
    <p>Niel Alex: tkattamp@uncc.edu</p>
</div>