@model IEnumerable<SportsFinder.Models.SportEvent>

@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/GoogleMaps.js"></script>
    
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        @*<li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>*@
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/ASP-NET-Banners-01.png" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="~/images/ASP-NET-Banners-02.png" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Start an event, choose the location, specify what gear is needed, publish and go play!
                    <a class="btn btn-default btn-default" asp-controller="EventPage" asp-action="Index">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="col-md-12">
    <h1>Sports Finder</h1>
    <h3>Multiplayer Sports</h3>
    <p>
        Do you ever find youself wishing you had a bunch of people to play sports with? Are your friends
        lazy? Do you want new friends who are more active? Sports Finder is here for you! Sports Finder 
        will help you find people to play sports with. You can browse by sport, search for events in your area,
        and go play sports!
    </p>
    <h3>Solo Sports</h3>
    <p>
        Don't play well with others? Sports Finder can help you play by yourself too. Just search for the sport
        you are interested in and we will show you on a map where you can do that sport. 
    </p>
</div>

<div class="col-md-12">
    @*// AIzaSyAG8diNyE5CdFVLOvf9u7NlVoi6aEk8SH8*@

    @*<iframe id="map" width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAG8diNyE5CdFVLOvf9u7NlVoi6aEk8SH8&q=Charlotte,+NC" allowfullscreen></iframe>*@

    

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG8diNyE5CdFVLOvf9u7NlVoi6aEk8SH8"></script>
    <script type="text/javascript">

        var map;

        function initialize() {
            var homeLatlng = new google.maps.LatLng(35.2033533, -80.9796095); // Charlotte

            var mapOptions = {
                zoom: 12,
                center: homeLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

            map.addListener('click', function(e) {
                console.log(e.latLng.toString());
            });

            var infoWindow = new google.maps.InfoWindow({map: map});

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Your Location');
                    map.setCenter(pos);
                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }

            var marker = new google.maps.Marker({
                position: {lat: 35.2033533, lng:  -80.9796095},
                map: map,
                title: 'Charlotte!'
            });

            @foreach (var item in Model)
            {
                <text>

                    var latLng = new google.maps.LatLng(@(item.Latitude), @(item.Longitude));

                    var marker = new google.maps.Marker({                        
                        position: latLng,
                        map: map,
                        title: '@(item.EventSport)'
                    });

                </text>
            }
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    @{
        if (User.Identity.Name != null)
        {
            <div class="container">
                <h2>Sports in Your Area</h2>
            </div>
            <div id="map-canvas" style="width: 600px; height: 600px"></div>
        }
    }
    
    

    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG8diNyE5CdFVLOvf9u7NlVoi6aEk8SH8&callback=initMap"
            async defer></script>

    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG8diNyE5CdFVLOvf9u7NlVoi6aEk8SH8&callback=initMap"
            async defer></script>*@
</div>