<h1>Frisby Golf Page</h1>

<table>

    <tr>
             <img src="~/images/banner-home.jpg" alt="Package Management" class="img-responsive" />
     </tr>

    <tr>

        <br />
        <br />
        There are two distinct areas involved in the investigation into the origin of disc golf. One, just who first played disc golf and when? The other, how and when did the organized sport of disc golf get started?
        <br />

        So, who first played disc golf? Sorry, but this turns out to be impossible to answer. There are many historical accounts of people playing golf with a flying disc, some of which pre-date the advent of the plastic flying discs by many years. Each account was an isolated instance of recreational disc golf play, and none of the participants knew of anyone else playing disc golf. Indeed, most of these instances were isolated not only geographically, but in time also, so they couldn't have known about each other.
        <br />

        The first known instance of anyone playing golf with a flying disc occurred in Vancouver BC in 1926. A group of school age kids played a game with tin lids, which they dubbed Tin Lid Golf. They played on a fairly regular basis on a disc golf course they laid out on their school grounds.
        <br />

        As they got older and into the more standard school sports, the Tin Lid Golf play faded out of the picture, only to be remembered many years later by one of the participants when they heard of the organized disc golf play of today.
        <br />

        Other similar accounts, both pre and post the advent of plastic flying discs, occurred in the 1930's, 40's 50's, and 60's, each ending in a similar way. One 1960 instance of disc golf was even a commercial attempt to market a packaged game of Sky Golf by the Copar Plastics company in Chicago. However, the Frisbee culture was just in its infancy at that time and the Copar game just didn't catch on.
        <br />

        The most interesting discovery of disc golf that fizzed out came right at the point when the modern day Frisbee culture started to mushroom into its current state of being. It is somewhat of a mystery why it didn't catch on at that time, especially when you learn of the people involved in that account.
        <br />

        In 1965 George Sappenfield was a recreation counselor during summer break from college. While playing golf one afternoon, he realized that the kids on his playground could play the golf game with Frisbee discs. He remembered his idea when in 1968 he finished college and became the Parks and Recreation supervisor for the Thousand Oaks, CA Parks and Recreation Department.
        <br />

        George contacted the Wham-O MFG Company about his idea and asked if they could help out with his plan to hold a Frisbee golf contest for his recreation program. They sent Frisbees and Hula Hoops to use as targets. The next year, he talked Ed Headrick of Wham-O into including a Frisbee golf event in the big All Comers Frisbee meet that Ed Headrick and Wham-O was planning to hold at Pasadena's Rose Bowl fields. But that was the last that Frisbee golf was heard of from Wham-O for seven years. Even Goldy Norton's Official Frisbee Handbook of 1972, in which all the activities and events that could be played with a Frisbee are listed, there is no description of or information about disc or Frisbee golf throughout the entire book! It was if the concept didn't even exist!
        <br />

        Apparently disc golf didn't fit into the promotional plans that Wham-O had for its Frisbee brand flying discs at that time.
        <br />

        But the game of disc golf did indeed exist. A small group of people from Rochester, NY who had never heard of the IFA or Goldy Norton's Handbook of Frisbee had been playing disc golf as a competitive sport on a regular basis; tournaments, league play and all. They had started in August of 1970, and by 1972 had promoted the Second Annual City of Rochester Disc Golf Championship.
        <br />

        In 1973, this group of avid disc golfers found out about the IFA newsletter, and was amazed to hear of the Frisbee culture that existed beyond their little sphere of disc golf activity. They decided to make their annual City of Rochester Disc Golf Championship a big national tournament to see just how many other people were playing disc golf or would be interested in trying the game. They called the event the American Flying Disc Open and put up a brand new 1974 Automobile to be awarded to the winner so as to attract the attention of the Frisbee community.
        <br />

    </tr>

    <tr>
        <a href="http://suar.orgsync.com/org/49erdiscgolf/History">Uncc Frisby Golf Website</a>

    </tr>

</table>