<h1>Rock Climbing Page</h1>

<table>

    <tr>
         
            <img src="~/images/rock-climbing-banner.jpg" alt="Package Management" class="img-responsive" />
         
    </tr>

    <tr>

        <br />
        <br />
        The roots of modern Rock Climbing can be found in the exploits of early mountaineers, whose desires to climb steeper and harder routes led to Trad Climbing and the use of pitons and homemade chockstones as aids in protecting the climber from any potential falls.
        <br />

        The use of pitons, hardened steel pins hammered into narrow cracks, provide the climber with attachment points for their ropes. These pitons are later extracted by hammering up-and-down until loose enough to remove. Unfortunately, their extraction has left behind countless pin scars (or bullet holes) on many of the popular climbing routes around the world.
        <br />

        With new equipment to assist the climber, the 1970's saw an increase in climbing and lead to many new areas being discovered and climbed. Many early climbers made names for themselves by getting the first ascent of these new routes.
        <br />

        The permanent bolting of routes in the 1980's lead to the introduction of Sport Climbing and with it rock climbing exploded as a sport for everyone. Cliff faces that were previously unprotectable were fitted with "bolts" and soon crags everywhere were being climbed. Areas like the Red River Gorge in Slade, Kentucky experienced a climbing boon as hundreds of new routes were realized.
        <br />

        Lynn Hill further changed the face of climbing (no pun intended) when in 1993 she became the first person, male or female, to free climb El Capitan's 3,000 foot The Nose Yosemite National Park

    </tr>

    <tr>
        <br />
        <br />
        <a class="btn btn-primary" href="https://venture.uncc.edu/">UNCC Rock Climbing Website</a>

    </tr>
</table>