@{
    ViewData["Title"] = "Favorite Sports";
}

<h1>Favorite Sports</h1>

<div class="list-group">
    <a href="#" class="list-group-item active">
        Sports
    </a>
    <a href="#" class="list-group-item">Baseball</a>
    <a href="#" class="list-group-item">BasketBall</a>
    <a href="#" class="list-group-item">Cricket</a>
    <a href="#" class="list-group-item">Frisby Golf</a>
    <a href="#" class="list-group-item">Hockey</a>
    <a href="#" class="list-group-item">Mountain Biking</a>
    <a href="#" class="list-group-item">Skateboarding</a>
    <a href="#" class="list-group-item">Soccer</a>
    <a href="#" class="list-group-item">Rock Climbing</a>
</div>