@model IEnumerable<SportsFinder.Models.Sport>

@{
    ViewData["Title"] = "Favorite Sports";
}

<h1>Favorite Sports</h1>

<div class="list-group">
    <a href="#" class="list-group-item active my-list">
        Sports
    </a>


    @foreach (var item in Model)
    {        
            <a class="list-group-item my-list">@item.Name
                <img class="favorite-star" src="~/images/StartMenuFavorites.ico"/>
            </a>        
    }    

    <div class="container">
        <button class="btn btn-primary favorites-button">Sumbit Favorites</button>
    </div>

</div>

